@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cbdbea
}

main {

    max-width: 90%;
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
}

.image-container img {
    width: 100%;
    border-radius: 10px;
}

.qr-text {
    margin-top: 1rem;
}

.qr-text h1 {
    font-family: Outline, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;

}

.qr-text p {
    font-family: Outline, sans-serif;
    margin-top: 1rem;
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    text-align: center;
}

@media screen and (min-width:375px) {
    main {
        width: 320px;
        height: 470px;
    }
}